/* 
색상 
#8294C4 rgb(130, 148, 196)
#ACB1D6 rgb(172, 177, 214)
#DBDFEA rgb(219, 223, 234)
#FFEAD2 rgb(255, 234, 210)
*/
.board-all-wrap {
  width: 1200px;
  margin: 50px auto;
}
.board-title {
  font-size: 20px;
  color: #8294c4;
  padding: 30px 0px;
  border-bottom: 2px solid #8294c4;
  font-family: ns-b;
}
/* boardlist */
.board-list-wrap {
  overflow: hidden;
  padding: 10px;
}
.board-item {
  float: left;
  box-sizing: border-box;
  width: calc(100% / 4);
  padding: 30px;
  cursor: pointer;
}
.board-item:hover {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
.board-item-img {
  height: 238px;
}
.board-item-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* object-fit: contain; div와 크기와 맞추는거 */
.bord-item-info {
  margin-top: 30px;
}
.board-item-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: ns-eb;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.board-item-writer,
.board-item-date {
  font-size: 0.9em;
  font-family: ns-b;
}
.board-page {
  margin-top: 30px;
}
.board-write-btn {
  padding: 20px 0px;
}
.board-write-btn > button {
  width: 100px;
  color: #fff;
}
.board-frm-title {
  font-size: 18px;
  color: #acb1d6;
  font-family: ns-b;
  padding: 30px 0px;
}
/* boardFrm */
.board-content-box > textarea {
  width: 100%;
  height: 300px;
}
.board-frm-top {
  display: flex;
  justify-content: space-between;
}
.board-thumbnail {
  width: 280px;
  height: 280px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
}
.board-thumbnail > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.board-info {
  width: 900px;
}
.board-info-tbl {
  width: 100%;
  border-spacing: 0;
}
.board-info-tbl tr > td:first-child {
  width: 150px;
  padding: 10px 20px;
  background-color: rgb(130, 148, 196, 0.2);
  border: 1px solid rgb(130, 148, 196, 0.2);
}
.board-info-tbl tr > td:last-child {
  padding: 10px 20px;
  border: 1px solid #ccc;
}
.board-info-tbl tr > td > input[type="text"] {
  border: none;
  padding: 0;
}
.file-list .file-zone {
  height: 110px;
  overflow-y: auto;
}
.board-content-box {
  margin: 10px 0px;
}
.border-btn-box {
  margin-top: 20px;
}
.file-zone > p {
  margin: 0;
  padding: 5px;
}
.file-zone > p:hover {
  background-color: rgba(172, 177, 214, 0.2);
}
/* BoardView */
.board-view-wrap {
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
.board-view-wrap > div {
  padding: 18px;
  border-top: 1px solid #ccc;
}
.board-view-wrap > .board-view-title {
  font-family: ns-b;
  font-size: 1.2em;
  border-top: 2px solid #8294c4;
}
.board-view-info {
  display: flex;
}
.board-view-info > div {
  margin-right: 10px;
  font-size: 0.9em;
}
.board-view-thumbnail {
  text-align: center;
}
.board-view-thumbnail > img {
  max-width: 100%;
}
.board-view-detail {
  min-height: 400px;
  border-bottom: 1px solid #8294c4;
}
.board-view-file {
  min-height: 30px;
}
.board-view-file > .board-file {
  padding: 10px;
  position: relative;
}
.board-view-file > .board-file:hover {
  background-color: rgba(238, 238, 238, 0.5);
}
.board-title > .file-icon {
  position: absolute;
  top: 10px;
  cursor: pointer;
}
.board-file > .file-name {
  margin-left: 36px;
}
.board-content-box .ql-container {
  height: 400px;
}
/* boardView 수정/삭제 버튼*/
.board-view-btn-zone {
  padding: 20px 0px;
}
.board-view-btn-zone > button {
  width: 60px;
  margin-right: 20px;
}
