<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.board.model.dao.BoardDao">
	<select id="totalCount" resultType="int">
		select count(*) from board
		where board_status=1
	</select>

	<select id="selectBoardList" resultType="board">
		select * from
		(select ROWNUM as RNUM, b.* from
		(select
		board_no,
		board_title,
		board_img,
		board_writer,
		member_id,
		to_char(board_date, 'YYYY-MM-DD hh:mm:ss') as board_date
		from board
		join member_tbl on (board_writer = member_no)
		where board_status = 1
		order
		by 1 DESC)b)
		where RNUM between #{start} and #{end}
	</select>

	<insert id="insertBoard">
		insert into board values
		(board_seq.nextval,#{boardTitle},#{boardImg},
							#{boardDetail},#{boardWriter}, 1, sysdate)
		<selectKey resultType="int" keyProperty="boardNo" order="AFTER">
			select max(board_no) from board
		</selectKey>
		<!-- (select member_no from member_tbl where member_id = #{memberId}) 서브 쿼리 이용해도 됨 -->
	</insert>
	
	<insert id="insertBoardFile">
		insert into board_file values
		(board_file_seq.nextval, #{boardNo},#{filename},#{filepath})
	</insert>

	<select id="selectOneBoard" resultMap="getBoard">
		select 
			board_no,
			board_title,
			board_img,
			board_writer,
			member_id,
			board_detail,
			board_status,
			to_char(board_date,'yyyy-mm-dd hh:mm:ss') as board_date
		from board
		join member_tbl on (board_writer = member_no)
		where board_no = #{boardNo}
	</select>
	
	<select id="selectOneBoardFile" resultType="boardFile">
		select * from board_file where board_no = #{boardNo}
	</select>
	<resultMap type="board" id="getBoard">
		<result column="board_no" property="boardNo"/>
		<result column="board_title" property="boardTitle"/>
		<result column="board_img" property="boardImg"/>
		<result column="board_writer" property="boardWriter"/>
		<result column="member_id" property="memberId"/>
		<result column="board_detail" property="boardDetail"/>
		<result column="board_status" property="boardStatus"/>
		<result column="board_date" property="boardDate"/>
		<collection 
			property="fileList"
			select="selectOneBoardFile"
			column = "board_no"
			javaType="java.util.List"
			ofType="boardFile"	
		 />
	</resultMap>
	
	<select id="getBoardFile" resultType="boardFile">
		select * from board_file where board_file_no=#{boardFileNo}
	</select>
	
	<select id="selectBoardFileList" resultType="boardFile">
		select * from board_file where board_no = #{boardNo}
	</select>
	
	<delete id="deleteBoard">
		delete from board where board_no = #{boardNo}
	</delete>

</mapper>
