<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.member.model.dao.MemberDao">

	<select id="selectOneMember" resultType="member">
  	select * from member_tbl where member_id=#{memberId}
 	</select>
 	 
 	<insert id="insertMember">
 		insert into member_tbl values(member_seq.nextval,#{memberId},#{memberPw},#{memberName},#{memberPhone},2)
 	</insert>
 	
 	<update id="changePhone">
 		update member_tbl set member_phone = #{memberPhone} where member_no=#{memberNo}
 	</update>
 	
 	<delete id="delete">
 		delete from member_tbl where member_id=#{memberId}
 	</delete>
 	
 	<update id="changePw">
 		update member_tbl set member_pw = #{memberPw} where member_id=#{memberId}
 	</update>
 	
 	<select id="totalCount" resultType="int">
 		select count(*) from member_tbl
 	</select>
 	
 	<select id="memberList" resultType="member">
 	select * from
	 	(select rownum as rnum, m.*from
	 		(select * from member_tbl order by member_type)m
	 		)
 	where rnum between #{start} and #{end}
 	</select>
 	
 	<update id="changeType">
 		update member_tbl set member_type=#{memberType}
 		 where member_no =#{memberNo}
 	</update>
 	
</mapper>
