/* 
색상 
#8294C4 rgb(130, 148, 196)
#ACB1D6 rgb(172, 177, 214)
#DBDFEA rgb(219, 223, 234)
#FFEAD2 rgb(255, 234, 210)
*/
@font-face {
  font-family: ns-l;
  src: url(/public/font/NotoSansKR-Light.ttf);
}
@font-face {
  font-family: ns-r;
  src: url(/public/font/NotoSansKR-Regular.ttf);
}
@font-face {
  font-family: ns-b;
  src: url(/public/font/NotoSansKR-Bold.ttf);
}
@font-face {
  font-family: ns-eb;
  src: url(/public/font/NotoSansKR-ExtraBold.ttf);
}
@font-face {
  font-family: ns-black;
  src: url(/public/font/NotoSansKR-Black.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: ns-r;
  color: #1e1e1e;
}
a {
  text-decoration: none;
}
/* HEADER */
header {
  border-bottom: 1px solid #8294c4;
  padding: 10px 0px;
}
.header {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav > ul {
  list-style-type: none;
  display: flex;
  width: 600px;
}
.nav > ul > li {
  width: calc(100% / 4);
  text-align: center;
  padding: 5px 0px;
}
.nav > ul > li > a {
  color: #8294c4;
  font-weight: ns-b;
}
.main-logo > a {
  font-size: 32px;
  font-family: ns-black;
  color: #8294c4;
}
.header-link {
  display: flex;
  align-items: center;
  height: 50px;
}
.header-link > a {
  margin-left: 30px;
}
.header-link > a > span {
  font-size: 30px;
  color: #8294c4;
}
/* FOOTER */
footer {
  padding: 50px;
  background-color: #eee;
}
.footer-content {
  width: 1200px;
  margin: 0 auto;
}
.footer-content * {
  font-size: 14px;
}
.footer-content > ul {
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 20px;
}
.footer-content > ul > li {
  float: left;
  padding-right: 20px;
}
/* wrap */
.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
}
