.join-wrap {
  width: 500px;
  margin: 0 auto;
  padding: 30px;
}
.join-title {
  text-align: center;
  font-family: ns-eb;
  font-size: 30px;
  color: #acb1d6;
  padding: 30px;
}
.join-input-wrap {
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.join-input-wrap > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.join-input-wrap > div > .label {
  width: 30%;
}
.join-input-wrap > div > .label > label {
  font-family: ns-b;
  font-size: 1.1em;
  color: #acb1d6;
}
.join-input-wrap > div > .input {
  width: 70%;
}
.check-msg {
  font-size: 0.8em;
  width: 70%;
  align-self: flex-end;
  color: tomato;
}
.join-btn-box {
  padding: 20px 0px;
}
