.new-pw-input-wrap {
  padding: 20px 0px;
  border-bottom: 2px solid #8294c4;
  border-top: 2px solid #8294c4;
}

.pw-input-wrap > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0px;
}
.pw-input-wrap > div > label {
  width: 20%;
  color: #8294c4;
  font-size: 18px;
  font-family: ns-b;
}
.pw-input-wrap > div > input {
  width: 50%;
  margin: 0px 35px;
}
.pw-input-wrap > div > button {
  width: 20%;
}
.change-btn-box {
  margin-top: 30px;
  color: #fff;
}
